// Fuentes
$fuente-principal: 'Outfit', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$primario: #802c3a;
$azul: #007df4;
$secundario2: #00c8c2;
$secundario: #c1aea1;

$formularioPrimario: #246355de;
$formularioInput: #98EECC;
$botonColor: #4592AF;
$grisN: #e1e1e1;

$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #64748B;
$gris-claro: #F8FAFC;
$gris-oscuro: #1E293B;

$rojo: rgb(169, 0, 0);
$verde: #02db02;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900